.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 30%;
    margin-bottom: 2%;
}

.row{
    width: 80%;
    text-align: end;
}

.info-text{
    font-size: 3rem;
    font-family: 'Reenie Beanie';
    color: #ffded9;
}  