.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 30%;
  margin-bottom: 2%;
}

.row {
  width: 80%;
  text-align: end;
}

.info-text {
  font-size: 3rem;
  font-family: 'Reenie Beanie';
  color: #ffded9;
}

/*responsive*/
@media only screen and (max-width: 2560px) {

  .info-text {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 1440px) {

  .info-text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1024px) {

  .row {
    margin-top: 38%;
  }
}

@media only screen and (max-width: 768px) {

  .info-text {
    font-size: 2rem;
  }

  .row {
    margin-top: 57%;
  }
}



@media only screen and (max-width:425px) {
  .row {
    margin-top: 191%;
  }
}



@media only screen and (max-width:375px) {
  .info-text {
    font-size: 1.5rem;
  }

  .row {
    margin-top: 250%;
  }
}
