<div class="container">

  <div class="row">
    <div class="header">
      <h2 class="title">THE COMIC RANK</h2>
    </div>
  </div>

  <div class="row">

    <div class="contain-image">
      <img alt="img-comic" src="https://imgs.xkcd.com/comics/fight.png"
        class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="ec-stars-wrapper">
      <a href="#" data-value="1" title="Votar con 1 estrellas">
        <i class="fas fa-star"></i>
      </a>
      <a href="#" data-value="2" title="Votar con 2 estrellas">
        <i class="fas fa-star"></i>
      </a>
      <a href="#" data-value="3" title="Votar con 3 estrellas">
        <i class="fas fa-star"></i>
      </a>
      <a href="#" data-value="4" title="Votar con 4 estrellas">
        <i class="fas fa-star"></i>
      </a>
      <a href="#" data-value="5" title="Votar con 5 estrellas">
        <i class="fas fa-star"></i>
      </a>
    </div>
  </div>

</div>

